<body>
    <form class="col-md-8">
        <h1>WACOP</h1>
        <div class="form-row">
          <div class="col-md-6">
            <div class="md-form form-group">
                <label for="user">Usuário:</label>
                <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="md-form form-group">
                <label for="password">Senha:</label>
                <input type="password" class="form-control">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-md">Entrar</button>
    </form>
</body>