<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="col-md-7">
      <mat-card-header>
          <mat-card-title>WACOP - Water Consumption Platfrom</mat-card-title>
      </mat-card-header>
      <form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <mat-form-field class="col-md-6">
                <input matInput placeholder="Usuário" id="login" #login="ngModel" name="login" [(ngModel)]="person.username" required>
            </mat-form-field>
            <mat-form-field class="col-md-6">
                <input matInput placeholder="Senha" type="password" id="password" #password="ngModel" name="password" [(ngModel)]="person.password" required>
            </mat-form-field>
        </div>
          <button *ngIf="!loading" [disabled]="!loginForm.form.valid" mat-stroked-button type="submit" color="warn" class="btn-block">Entrar</button>
          <mat-progress-spinner *ngIf="loading" class="example-margin" mode="indeterminate" color="warn"></mat-progress-spinner>
          <div class="register">
            <span>Ainda não tem uma conta? </span><span class="register-link" (click)="toRegister()">Cadastre-se aqui</span>
          </div>
          <!-- <button *ngIf="!loading" mat-stroked-button color="warn" (click)="toRegister()" class="btn-block register">Registrar-se</button> -->
      </form>
  </mat-card>
</div>