<body>
    <form class="col-md-8">
        <h1>WACOP</h1>
        <div class="form-row">
          <div class="col-md-5">
            <div class="md-form form-group">
                <label for="user">Usuário:</label>
                <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-md-5">
            <div class="md-form form-group">
                <label for="password">Senha:</label>
                <input type="password" class="form-control">
            </div>
          </div>
        </div>
        <div class="form-row">
            <div class="col-md-5">
              <div class="md-form form-group">
                  <label for="email">E-mail:</label>
                  <input type="email" class="form-control">
              </div>
            </div>
            <div class="col-md-5">
              <div class="md-form form-group">
                  <label for="phone">Telefone:</label>
                  <input type="text" class="form-control">
              </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <div class="md-form">
                <label for="email">Região do Brasil:</label>
                    <br>
                    <select>
                        <option>Norte</option>
                        <option>Nordeste</option>
                        <option>Centro-Oeste</option>
                        <option>Sudeste</option>
                        <option>Sul</option>
                    </select>
              </div>
            </div>
            <div class="form-check col-md-3">
                <label for="sex">Sexo:</label>
                <br>
                Masculino<input type="radio" name="sex" class="radio-inline" value="M">
                Feminino<input type="radio" name="sex" class="radio-inline" value="F">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
              <div class="md-form form-group">
                  <label for="address">Endereço:</label>
                  <input type="text" class="form-control">
              </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-md">Cadastrar</button>
    </form>
</body>