.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

form{
    border: 2px;
    border-style: solid;
    background-color: aqua;
    margin: auto;
    padding: 30px;
    text-align: center;
}

body{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url("../../../images/registrer-login.png");
}

.form-group{
    padding: 10px;
}

h1{
    text-align: center;
}

/*.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}*/