<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
      <mat-card-header>
          <mat-card-title>WACOP</mat-card-title>
      </mat-card-header>

      <mat-horizontal-stepper linear="true" #stepper>
          <mat-step [stepControl]="userForm">
              <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <mat-form-field>
                      <mat-label>Usuário</mat-label>
                      <input matInput formControlName="username" required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Senha</mat-label>
                      <input matInput type="password" formControlName="password" required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Nome</mat-label>
                      <input matInput placeholder="Nome" formControlName="name" required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Email</mat-label>
                      <input matInput type="email" formControlName="email" required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Sexo</mat-label>
                      <input matInput formControlName="sex" required>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Telefone</mat-label>
                      <input matInput formControlName="phoneNumber" required>
                  </mat-form-field>
                  <button mat-button matStepperNext mat-stroked-button type="submit" color="primary" class="btn-block">
                      Concluir
                  </button>
              </form>
          </mat-step>
      </mat-horizontal-stepper>
  </mat-card>
</div>