<div class="view-card-wrapper">
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>{{ title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="description">
                <span>{{ description }}</span>
            </div>
        </mat-card-content>
                    <!-- <mat-form-field>
                        <mat-label>Nome</mat-label>
                        <input matInput placeholder="Nome" formControlName="firstName" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Sobrenome</mat-label>
                        <input matInput placeholder="Sobrenome" formControlName="lastName" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>CPF</mat-label>
                        <input matInput placeholder="CPF" #cpf formControlName="cpf" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" #email type="email" formControlName="email" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Senha</mat-label>
                        <input matInput placeholder="Senha" type="password" formControlName="password" required>
                        <div *ngIf="!equalPass">
                            <p class="cepNF">Senhas não correspondem!</p>
                        </div>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Confirmar Senha</mat-label>
                        <input matInput placeholder="Senha" (change)="validatePass()" type="password" formControlName="confirmPass" required>
                        <div *ngIf="!equalPass">
                            <p class="cepNF">Senhas não correspondem!</p>
                        </div>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="Celular" formControlName="telephoneNumber" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Gênero</mat-label>
                        <mat-select formControlName="sex">
                            <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                {{gender.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Data de Nascimento</mat-label>
                        <input matInput [matDatepicker]="picker" required formControlName="birthDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="nextStep">
                        <button mat-button mat-button (click)="goBack2Login()" mat-stroked-button type="submit" color="warn" class="btn-block btn-cancel">
                            <mat-icon>remove_circle_outline</mat-icon>
                            Cancelar
                            <mat-icon>remove_circle_outline</mat-icon>
                        </button>
                        <span class="spacer"></span>
                        <button mat-button mat-button matStepperNext mat-stroked-button type="submit" color="warn" class="btn-block">
                            <mat-icon>double_arrow</mat-icon>
                            Próximo
                            <mat-icon>double_arrow</mat-icon>
                        </button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="addressForm">
                <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
                    <ng-template matStepLabel>Dados Residênciais</ng-template>
                    <mat-form-field>
                        <mat-label>CEP</mat-label>
                        <input matInput placeholder="CEP" (change)="searchCEP()" formControlName="postalCode" required>
                        <div *ngIf="cepNotFound">
                            <p class="cepNF">CEP não encontrado!</p>
                        </div>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Rua</mat-label>
                        <input matInput placeholder="Rua" formControlName="publicPlace" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Número</mat-label>
                        <input matInput placeholder="Senha" formControlName="houseNumber" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Bairro</mat-label>
                        <input matInput placeholder="Nome" formControlName="neighborhood" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Cidade</mat-label>
                        <input matInput placeholder="Sobrenome" formControlName="city" required>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="state">
                            <mat-option *ngFor="let state of states" [value]="state">
                                {{state}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="nextStep">
                        <button *ngIf="!loading" mat-button (click)="stepper.reset()" mat-stroked-button color="warn" class="btn-block">
                            <mat-icon>clear_all</mat-icon>
                            Limpar
                            <mat-icon>clear_all</mat-icon>
                        </button>
                        <button *ngIf="!loading" mat-button matStepperNext mat-stroked-button type="submit" color="primary" class="btn-block">
                            <mat-icon>done_all</mat-icon>
                            Concluir
                            <mat-icon>done_all</mat-icon>
                        </button>
                        <mat-progress-spinner *ngIf="loading" class="example-margin" mode="indeterminate" color="warn"></mat-progress-spinner>
                    </div> -->
    </mat-card>
</div>