<h1 mat-dialog-title class="dialog-header">Para cadastrar um novo dispositivo:</h1>
<mat-dialog-content class="content">
    <ol>- Cadastrar um novo projeto no Blynk, criar os campos de usuário, deviceId, descrição e flowRate</ol>
    <ol>- Gerar o token de autenticação no Blynk</ol>
    <ol>- No código para ser compilado no Arduino, colocar os valores para o usuário, deviceId, descrição e token de autenticação com seus respectivos pinNumbers</ol>
    <ol>- Compilar o código no Arduino</ol>
    <ol>- Instalar o arduino em uma tubulação</ol>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-button (click)="closeDialog()" class="btn btn-light">Fechar</button>
</mat-dialog-actions>