
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="col-md-7">
       <mat-card-header>
          <mat-card-title>WACOP - Water Consumption Platfrom</mat-card-title>
       </mat-card-header>
          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <mat-form-field *ngIf="user.username !== undefined" class="col-md-6">
                    <mat-label>Usuário</mat-label>
                    <input matInput formControlName="username" [(ngModel)]="user.username" required>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password" [(ngModel)]="user.password" required>
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field class="col-md-6">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name" [(ngModel)]="user.name" required>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" [(ngModel)]="user.email" required>
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field class="col-md-6">
                    <mat-label>Sexo</mat-label>
                    <mat-select formControlName="sex" [(ngModel)]="user.sex" required>
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                    {{gender.viewValue}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>Região do Brasil</mat-label>
                    <mat-select formControlName="region" [(ngModel)]="user.region" required>
                    <mat-option *ngFor="let region of regions" [value]="region.value">
                    {{region.viewValue}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field class="col-md-6">
                    <mat-label>Telefone</mat-label>
                    <input matInput formControlName="phoneNumber" [(ngModel)]="user.phoneNumber" required>
                </mat-form-field>
                <mat-form-field class="col-md-6">
                    <mat-label>Endereço</mat-label>
                    <input matInput formControlName="address" [(ngModel)]="user.address" required>
                </mat-form-field>
            </div>
            <button mat-button mat-raised-button [disabled]="!userForm.valid" type="submit" color="primary" class="btn-block col-md-2">
            Atualizar
            </button>
            <div class="login">
                <span class="login-link" (click)="toHome()">Voltar para a home</span>
            </div>
          </form>
    </mat-card>
 </div>