.general-card-wrapper {
    float: left;
}

.view-cards, .device-cards {
    padding: 10px;
}

.device-detail {
    padding: 1em;
}

.view-card:hover, .device-card:hover {
    background-color: rgb(206, 204, 204);
    cursor: pointer;
}

.page-header {
    background-color: rgb(130, 171, 248);
    display: flex;
    padding: 1em;
}

.page-header h1{
    margin-bottom: 0;
}

/* .view-card:active, .device-card:active {
    background-color: green;
} */

.view-card, .device-card {
    background-color: #e6f3ff;
} 

.help-icon {
    color: rgb(92, 94, 92);
}

.add-icon {
    color: green;
}

.material-icons {
    cursor: pointer;
    float: right;
}

.remove-icon {
    color: red;
}

.views-wrapper {
    padding-top: 20px;
}

.chart-wrapper {
   /* margin: 0; */
   padding: 0;
}

.box {
    background-color: #88c4fb;
    text-align: center;
}

/* .chart-card {
    float: right;
} */

.device-box {
    float: right;
}

.logout {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
}

.exit-icon {
    margin-left: 0.3em;
}

.device-card {
    /* float: right; */
}

.general-wrapper {
    display: flex;
}