.general-card-wrapper {
    float: left;
}

.view-cards, .device-cards {
    padding: 10px;
}

.view-card:hover, .device-card:hover {
    background-color: rgb(206, 204, 204);
    cursor: pointer;
}

.view-card, .device-card {
    background-color: #e6f3ff;
} 

.help-icon {
    color: rgb(92, 94, 92);
}

.add-icon {
    color: green;
}

.material-icons {
    cursor: pointer;
    float: right;
}

.remove-icon {
    color: red;
}

.views-wrapper {
    padding-top: 20px;
}

.chart-wrapper {
    padding-top: 13%;
}

.box {
    background-color: #88c4fb;
    text-align: center;
}

.chart-card {
    float: right;
}

.device-box {
    float: right;
}