<div class="page-header">
    <h1 *ngIf="person !== undefined">Dados de {{ person.name }} (Última atualização em: {{ lastUpdate | date:'dd/MM/yyyy HH:mm:ss' }})</h1>
    <button *ngIf="person !== undefined" (click)="toProfile()" type="button" class="btn btn-dark profile">
        Perfil
        <mat-icon class="person-icon">person</mat-icon>
    </button>
    <button (click)="toLogin()" type="button" class="btn btn-dark logout">
        Sair
        <mat-icon class="exit-icon">exit_to_app</mat-icon>
    </button>
</div>
<div class="general-wrapper" *ngIf="!loading">    
    <div class="mean-weekday-wrapper col-md-5">
        <mat-card class="box chart-card">
            <mat-card-content>
                <div id="mean-weekday-chart" style="height: 22.5em;"></div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="device-wrapper">
        <mat-card class="box device-card col-md-12" style="height: 24.7em;">
            <div class="a" *ngIf="devices !== undefined && devices.length !== 0">
                <span class="material-icons arrow_back" (click)="openPreviousDevice()">arrow_back</span>
                <span class="material-icons arrow_forward" (click)="openNextDevice()">arrow_forward</span>
            </div>
            <span class="material-icons help-icon" (click)="openHelp()">help</span>
            <mat-card-header>
                <mat-card-title class="my-devices-title">Meus dispositivos</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="empty-devices" *ngIf="devices !== undefined && devices.length == 0">
                    <span>Ainda não há dispositivos cadastrados! Clique no ícone de ajuda e veja como cadatrar um dispositivo</span>
                </div>
                <div *ngIf="currentDevice !== undefined" class="device-cards">
                    <div class="device device-description">
                        <span>Descrição: {{ currentDevice.description }}</span>
                    </div>
                    <div class="device device-deviceId">
                        <span>ID do dispositivo: {{ currentDevice.deviceId }}</span>
                    </div>
                    <div class="device device-flowRate">
                        <span>Fluxo de água: {{ currentDevice.flowRate }} L</span>
                    </div>
                </div>
                <span *ngIf="devices !== undefined" class="device-index">{{ devices.indexOf(currentDevice) + 1 }} de {{ devices.length }}</span>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="live-wrapper col-md-5">
        <mat-card class="box chart-card live-wrapper-card">
           <span>Disconnected: {{ isDisconnected }} !!!</span>
            <mat-card-content>
                <div id="live-chart" style="height: 21em;"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="general-wrapper" *ngIf="!loading">    
    <div class="last-week-wrapper col-md-7">
        <mat-card class="box chart-card">
            <mat-card-content>
                <div id="last-week-chart" style="height: 22.5em;"></div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="total-devices-wrapper col-md-5">
        <mat-card class="box chart-card">
            <mat-card-content>
                <div id="total-devices-chart" style="height: 22.5em;"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>