.general-wrapper {
    float: left;
}

.view-cards, .devices-cards {
    padding: 10px;
    text-align: center;
}

.empty-list {
    text-align: center;
}

.view-card, .device-card {
    background-color: #e6f3ff;
}

.add-icon {
    color: green;
}

.remove-icon {
    color: red;
}

.devices-wrapper {
    padding-top: 20px;
}

.box {
    background-color: #88c4fb;
}

.chart-card {
    float: right;
}