<div class="general-wrapper">
    <div class="views-wrapper">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Minhas visões de consumo</mat-card-title>
            </mat-card-header>
            <div class="view-cards" *ngFor="let card of cards">
                <mat-card>
                    <div class="card-title">
                        <span>{{ card.title }}</span>
                    </div>
                    <div class="card-description">
                        <span>{{ card.description }}</span>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </div>

    <div class="devices-wrapper">
        <mat-card class="box">
            <mat-card-header>
                <mat-card-title>Meus dispositivos</mat-card-title>
                <span class="material-icons add-icon">add_circle</span>
                <span class="material-icons remove-icon">remove_circle</span>
            </mat-card-header>
            <div class="devices-cards" *ngFor="let device of devices">
                <mat-card>
                    <div class="card-description">
                        <span>{{ device.description }}</span>
                    </div>
                </mat-card>
            </div>
        </mat-card>
    </div>
</div>