.general-card-wrapper {
    float: left;
}

.view-cards, .device-cards {
    padding: 10px;
}

.device-detail {
    padding: 1em;
}

.page-header {
    background-color: rgb(130, 171, 248);
    display: flex;
    padding: 1em;
}

.page-header h1{
    margin-bottom: 0;
    font-family: tahoma;
}

.view-card, .device-card {
    background-color: #e6f3ff;
} 

.device-card {
    height: 22.75em;
}

.help-icon {
    color: rgb(224, 224, 49);
    font-size: 2em;
}

.my-devices-title {
    color: #f8f9fa;
    font-family: tahoma;
    font-size: 1.5em;
}

.device {
    color: #f8f9fa;
}

.material-icons {
    cursor: pointer;
    float: right;
}

.views-wrapper {
    padding-top: 20px;
}

.mean-weekday-wrapper {
   padding: 0;
}

.box {
    background-color: rgb(102, 102, 102);
    text-align: center;
}

.device-box {
    float: right;
}

.logout {
    position: absolute;
    right: 0;
    top: 0;
    padding: 1em;
}

.exit-icon {
    margin-left: 0.3em;
}

.general-wrapper {
    display: flex;
    margin-top: 0.5em;
}

.device-wrapper {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.last-week-wrapper{
    padding: 0;
}

.device {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.device-flowRate {
    padding-bottom: 0;
}

.live-wrapper {
    padding-left: 0;
    padding-right: 0.5em;
}

.total-devices-wrapper{
    padding: 0;
}

@media only screen and (max-width: 480px) {
    .general-wrapper {
        display: grid;
        margin: 0;
    }

    .page-header h1{
        font-size: 1.35em;
        width: 80%;
    }

    .box {
        margin: 0.5em;
    }

    .device-card{
        margin: 0;
        padding: 0;
        /* height: 14em; */
    }

    .live-wrapper {
        padding: 0;
    }

    .live-wrapper-card {
        margin-top: 0;
        margin-bottom: 0;
    }

    .my-devices-title {
        margin-left: 4em;
        padding-top: 1em;
    }

    .help-icon {
        padding-top: 0.5em;
        padding-right: 0.5em;
    }

    .device-cards {
        width: 80%;
        margin-left: 2.5em;
    }

    .device-deviceId {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }

    .device {
        font-size: 1.5em;
    }
}